{% extends 'base.html.twig' %}

{% block title %}Reminder index{% endblock %}

{% block body %}
    <h1>Reminder index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>IsDone</th>
                <th>DatetimeCreate</th>
                <th>DatetimeExpire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reminder in reminders %}
            <tr>
                <td>{{ reminder.id }}</td>
                <td>{{ reminder.title }}</td>
                <td>{{ reminder.isDone ? 'Yes' : 'No' }}</td>
                <td>{{ reminder.datetimeCreate ? reminder.datetimeCreate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reminder.datetimeExpire ? reminder.datetimeExpire|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_reminder_show', {'id': reminder.id}) }}">show</a>
                    <a href="{{ path('app_reminder_edit', {'id': reminder.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reminder_new') }}">Create new</a>
{% endblock %}
